@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/assets/fonts/Inter-Light.woff2") format("woff2");
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/assets/fonts/Inter-Bold.woff2") format("woff2");
}

body {
  font-family: Inter;
}

#scene-buttons summary {
  border-bottom: 1px solid grey;
}

#scene-buttons summary h2 {
  margin-block-end: 0.25em;
}

#scene-buttons ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  gap: 0.5em;
  padding-inline: 0;
}

#scene-buttons button {
  background: lightgrey;
  border: none;
  border-radius: 1.5em;
  padding: 0.5em 0.75em;
  gap: 0.5em;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  font-size: 0.8em;
}

#scene-buttons button img {
  width: 1.2em;
}

input.scene-form-data {
  display: none;
}